<!-- Banner -->
<div class="parallax-container">
   <div class="parallax"><img src="./assets/img/home_banner.jpg"></div>
   <div class="home__banner valing-wrapper"><h2>Forma parte de la primera comunidad <br/>online de cine en México</h2></div>
 </div>

 <!-- Foros, Proyectos & Competencias -->
 <div class="section grey lighten-3">
   <div class="row container">

     <!-- Participa en el Foro -->
     <div class="col s4 seccion">
       <div class="card medium">

         <div class="card-image" ng-click="ir_lugar('buscadorforo')">
           <img src="./assets/img/escena1.png" rel="https://media.giphy.com/media/l2YWuNv2p6LNcFHhu/giphy.gif" class="resizeimg">
           <span class="card-title home"><strong>Comenta en el Foro</strong></span>
         </div>

         <div class="card-content">

           <p>Crea temas de discusión, comparte tu conocimiento en cine, o apóyate en la comunidad para aprender más del séptimo arte.</p>
         </div>

         <div class="card-action">
           <a href="#!buscadorforo"><h4 class="home__card--action">Ir al foro</h4></a>
         </div>
       </div>
     </div>

     <!-- Crea Proyectos -->
     <div class="col s4 seccion">
       <div class="card medium">
         <div class="card-image" ng-click="ir_lugar('buscadorproyecto')">
           <img src="./assets/img/escena2.png" rel="https://media.giphy.com/media/3ohuAm9xsQ7fr8a0Rq/giphy.gif" class="resizeimg">
           <span class="card-title"><strong>Crea Proyectos</strong></span>
         </div>
         <div class="card-content">

           <p>Invita a tu equipo de trabajo y comparte con la comunidad un proyecto donde muestres tu capacidad cinematográfica.</p>
         </div>
         <div class="card-action">
           <a href="#!buscadorproyecto"><h4 class="home__card--action">Ir a proyectos</h4></a>
         </div>
       </div>
     </div>

     <!-- Participa en Competencias -->
     <div class="col s4 seccion">
       <div class="card medium">
         <div class="card-image" >
           <img src="./assets/img/escena3.png" rel="https://media.giphy.com/media/3owzVZoQ73PBrqqEKc/giphy.gif" class="resizeimg">
           <span class="card-title"><strong>Participa en Concursos</strong></span>
         </div>
         <div class="card-content">

           <p>Mantente al tanto de las convocatorias, elige un proyecto y compite haciendo uso de tus habilidades como cineasta.</p>
         </div>
         <div class="card-action">
           <a href="#"><h4 class="home__card--action">Ir a competencias</h4></a>
         </div>
       </div>
     </div>
     <!-- <h2 class="header">Parallax</h2>
     <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p> -->
   </div>
 </div>
