$logo-margin: 1em;
$logo-color: white;
$background-color: #212121;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Footer

.left-logo {
    margin-right: $logo-margin;
    color: $logo-color;
}

.middle-logo {
  margin-left: $logo-margin;
  margin-right: $logo-margin;
  color: $logo-color;
}

.right-logo {
  margin-left: $logo-margin;
  color: $logo-color;
}
