
<style>
.texto_foro{
  font-size: 18px;
  height: 200px;
  overflow-y: auto;
}
</style>
<section class="container">
  <a class="waves-effect waves-light btn" href="#!buscadorforo">Regresar a foros</a>
  <br><br>
  <div class="row">
    <div class="col s3">
      <img class="materialboxed img-adjust" ng-src="{{foro.img}}">
    </div>
    <div class="col s9">
      <h4>{{foro.nombre}}</h4>
      <p><strong>Por {{foro.autor.nombre}}  </strong>
        <small><i class="fa fa-trophy gold"></i>  {{foro.autor.trofeos.oro}} </small>
        <small><i class="fa fa-trophy silver"></i> {{foro.autor.trofeos.plata}}  </small>
        <small><i class="fa fa-trophy cupper"></i> {{foro.autor.trofeos.cobre}}  </small>


      </p>
      <br><label>Creado el <b>{{foro.creado}}</b> </label>
      <br><label>Último mensaje el <b>{{foro.ultimo_mensaje}}</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <p class="texto_foro"  ng-bind-html="foro.texto"></p>
    </div>
    <div class="col s12">
      <span ng-repeat="etiqueta in foro.etiquetas" class="new badge" data-badge-caption="{{etiqueta}}"></span><span style="text-align:right; float: right">Si te interesa este tema también puedes consultar:</span>
    </div>
  </div>
  <div class="row">
    <div class="col s12 comentarios">
      <h5>2 Respuestas</h5>
      <div class="row comentario_container" ng-repeat="comentario in comentarios">
          <div class="col s1">
            <br>
            <img class="img-adjust" ng-src="{{comentario.autor.img}}">
          </div>
          <div class="col s11">
            <div class="texto_comentario">
              <p>
              <strong>{{comentario.autor.nombre}}</strong>
              <span><i class="fa fa-trophy gold" ng-if="comentario.autor.trofeos.oro"></i>  {{comentario.autor.trofeos.oro}} </span>
              <span><i class="fa fa-trophy silver" ng-if="comentario.autor.trofeos.plata"></i> {{comentario.autor.trofeos.plata}}  </span>
              <span><i class="fa fa-trophy cupper"  ng-if="comentario.autor.trofeos.cobre"></i> {{comentario.autor.trofeos.cobre}}  </span>
              </p>
              <p class="parrafo_comentario" ng-bind-html="comentario.mensaje"></p>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s1"></div>
    <div class="col s11" >
      <div simditor ng-model="editor" placeholder="some placeholder"></div>

      <a class="waves-effect waves-light btn right" ng-click="enviarComentario()" >Enviar datos</a>

    </div>

    </div>


</section>
